<a href="https://colab.research.google.com/github/fatasa/NLP/blob/main/NLP_Sentimen_Token_Sastrawi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import pandas as pd
import numpy
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
url = open ("/content/data.csv", 'r')
names = ["word", "class"]
data = pd.read_csv(url, names=names)
data

                                  word class
0              chinese Beijing Chinese     G
1             chinese chinese shanghai     C
2                        chinese macao     C
3                  tokyo japan Chinese     J
4  chinese chinese chinese tokyo japan   NaN

In [3]:
#validasi
word_X = data["word"]
word_Y = data["class"]

In [4]:
def hitung_token(wm, feat_names):
    doc_names = ['data{:d}'. format(idx) for idx, _ in enumerate(wm)]
    df=pd.DataFrame(data=wm.toarray(), index=doc_names, columns=feat_names)

    return (df)

token = CountVectorizer(lowercase=True)
wm = token.fit_transform(word_X)
hasil_token = token.get_feature_names()

hitung_token(wm, hasil_token)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

       beijing  chinese  japan  macao  shanghai  tokyo
data0        1        2      0      0         0      0
data1        0        2      0      0         1      0
data2        0        1      0      1         0      0
data3        0        1      1      0         0      1
data4        0        3      1      0         0      1

In [5]:
!pip install Sastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Sastrawi in /usr/local/lib/python3.8/dist-packages (1.0.1)

In [6]:
# import Sastrawi package
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

def hitung_token(wm, feat_names):
    doc_names = ['data{:d}'. format(idx) for idx, _ in enumerate(wm)]
    df=pd.DataFrame(data=wm.toarray(), index=doc_names, columns=feat_names)

    return (df)

token = CountVectorizer(lowercase=True)
wm = token.fit_transform(word_X)
hasil_token = token.get_feature_names()

hasil_stemming=[]
for kata in hasil_token:
        hasil_stemming.append(stemmer.stem(kata))

hasil_stemming

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['beijing', 'chinese', 'japan', 'macao', 'shanghai', 'tokyo']