<a href="https://colab.research.google.com/github/fatasa/NLP/blob/main/NLP_Sentimen_Token_Twitter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import pandas as pd
import numpy
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
url = open ("/content/twitter_validation.csv", 'r')
names = ["company", "category", "text"]
data = pd.read_csv(url, names=names)
data.head()

        company    category                                               text
3364   Facebook  Irrelevant  I mentioned on Facebook that I was struggling ...
352      Amazon     Neutral  BBC News - Amazon boss Jeff Bezos rejects clai...
8312  Microsoft    Negative  @Microsoft Why do I pay for WORD when it funct...
4371      CS-GO    Negative  CSGO matchmaking is so full of closet hacking,...
4433     Google     Neutral  Now the President is slapping Americans in the...

In [3]:
#validasi
word_X = data["company"]
word_Y = data["category"]
word_Z = data["text"]

In [4]:
def hitung_token(wm, feat_names):
    doc_names = ['data{:d}'. format(idx) for idx, _ in enumerate(wm)]
    df=pd.DataFrame(data=wm.toarray(), index=doc_names, columns=feat_names)

    return (df)

token = CountVectorizer(lowercase=True)
wm = token.fit_transform(word_X)
hasil_token = token.get_feature_names()

hitung_token(wm, hasil_token)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,amazon,apexlegends,assassinscreed,battlefield,borderlands,callofduty,callofdutyblackopscoldwar,cs,cyberpunk2077,dota2,...,ps5,pubg,rdr,reddeadredemption,tomclancysghostrecon,tomclancysrainbowsix,verizon,worldofcraft,xbox,xseries
data0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
data4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
data995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data996,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
data997,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
data999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0